<circle-progress
  [space] = -10
  [outerStrokeGradient] = true
  [outerStrokeColor] = "'#4882c2'"
  [outerStrokeGradientStopColor] = "'#53a9ff'"
  [innerStrokeColor] = "'#e7e8ea'"
  [animateTitle] = false
  [animationDuration] = 1000
  [radius] = 40
  [outerStrokeWidth] = 10
  [innerStrokeWidth] = 5
  [animation] = true
  [percent]=79
  [maxPercent]=100
  [toFixed]=0
  [showTitle] = false
  [showBackground] = true
  [showInnerStroke] = true
  [clockwise] = true
  [responsive] = false
  [startFromZero] = false
  [showZeroOuterStroke] = true
  [backgroundColor] = "'#f2eded'"
  [showSubtitle] = false
  [showUnits] = false
></circle-progress>
