<div class="data-container">
  <form [formGroup]="carForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Mark</label>
        <input formControlName="mark" type="text" class="form-control" placeholder="Mark">
        <div *ngIf="mark.errors && (mark.dirty || mark.touched)">
          <p *ngIf="mark.errors?.['required']" class="error-info">This field is required!</p>
          <p *ngIf="mark.errors?.['minLength']" class="error-info">Text cannot be shorter than 2 characters</p>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Model</label>
        <input formControlName="model" type="text" class="form-control" placeholder="Model">
        <div *ngIf="model.errors && (model.dirty || model.touched)">
          <p *ngIf="model.errors?.['required']" class="error-info">This field is required!</p>
          <p *ngIf="model.errors?.['minLength']" class="error-info">Text cannot be shorter than 2 characters</p>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Body type</label>
        <select class="form-control" formControlName="bodyType">
          <option disable disabled value="">Body type</option>
          <option *ngFor="let bodyType of bodyTypes | keyvalue" [value]="bodyType.key">
            {{bodyType.value}}
          </option>
        </select>
        <div *ngIf="bodyType.errors && (bodyType.dirty || bodyType.touched)">
          <p *ngIf="bodyType.errors?.['bodyType']" class="error-info">This field is required!</p>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Course</label>
        <input formControlName="course" type="text" class="form-control" placeholder="Course">
        <div *ngIf="course.errors && (course.dirty || course.touched)">
          <p *ngIf="course.errors?.['required']" class="error-info">This field is required!</p>
          <p *ngIf="course.errors?.['onlyDigits']" class="error-info">Incorrect value!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Production year</label>
        <select class="form-control" type="text" formControlName="productionYear">
          <option selected disabled value="">Production year</option>
          <option *ngFor="let productionYear of productionYears" [value]="productionYear">
            {{productionYear}}
          </option>
        </select>
        <div *ngIf="productionYear.errors && (productionYear.dirty || productionYear.touched)">
          <p *ngIf="productionYear.errors?.['productionYear']" class="error-info">This field is required!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Number Of seats</label>
        <select class="form-control" type="text" formControlName="numberOfSeats">
          <option selected disabled value="">Number of seats</option>
          <option *ngFor="let numberOfSeats of numberOfSeatsArray" [value]="numberOfSeats">
            {{numberOfSeats}}
          </option>
        </select>
        <div *ngIf="numberOfSeats.errors && (numberOfSeats.dirty || numberOfSeats.touched)">
          <p *ngIf="numberOfSeats.errors?.['numberOfSeats']" class="error-info">This field is required!</p>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Engine capacity</label>
        <input formControlName="engineCapacity" type="text" class="form-control" placeholder="Engine capacity">
        <div *ngIf="engineCapacity.errors && (engineCapacity.dirty || engineCapacity.touched)">
          <p *ngIf="engineCapacity.errors?.['required']" class="error-info">This field is required!</p>
          <p *ngIf="engineCapacity.errors?.['onlyDigits']" class="error-info">Incorrect value!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Engine power</label>
        <input formControlName="enginePower" type="text" class="form-control" placeholder="Engine power">
        <div *ngIf="enginePower.errors && (enginePower.dirty || enginePower.touched)">
          <p *ngIf="enginePower.errors?.['required']" class="error-info">This field is required!</p>
          <p *ngIf="enginePower.errors?.['onlyDigits']" class="error-info">Incorrect value!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Engine type</label>
        <select class="form-control" type="text" formControlName="engineType">
          <option selected disabled value="">Engine type</option>
          <option *ngFor="let engineType of engineTypes | keyvalue" [value]="engineType.key">
            {{engineType.value}}
          </option>
        </select>
        <div *ngIf="engineType.errors && (engineType.dirty || engineType.touched)">
          <p *ngIf="engineType.errors?.['engineType']" class="error-info">This field is required!</p>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Vehicle condition</label>
        <select class="form-control" type="text" formControlName="vehicleCondition">
          <option selected disabled value="">Vehicle condition</option>
          <option *ngFor="let condition of conditionStatuses | keyvalue" [value]="condition.key">
            {{condition.value}}
          </option>
        </select>
        <div *ngIf="vehicleCondition.errors && (vehicleCondition.dirty || vehicleCondition.touched)">
          <p *ngIf="vehicleCondition.errors?.['vehicleCondition']" class="error-info">This field is required!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Price</label>
        <input formControlName="price" type="text" class="form-control" placeholder="Price">
        <div *ngIf="price.errors && (price.dirty || price.touched)">
          <p *ngIf="price.errors?.['required']" class="error-info">This field is required!</p>
          <p *ngIf="price.errors?.['onlyDigits']" class="error-info">Incorrect value!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Is damaged</label>
        <select class="form-control" type="text" formControlName="damaged">
          <option selected disabled value="">Is damaged</option>
          <option *ngFor="let state of damageStatuses | keyvalue" [value]="state.key">
            {{state.value}}
          </option>
        </select>
        <div *ngIf="damaged.errors && (damaged.dirty || damaged.touched)">
          <p *ngIf="damaged.errors?.['damaged']" class="error-info">This field is required!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button *ngIf="!isEditForm" [disabled]="carForm.invalid" (click)="addCar()" type="submit" class="btn btn-primary float-right">Add car</button>
        <button *ngIf="isEditForm" [disabled]="carForm.invalid" (click)="updateCar()" type="submit" class="btn btn-primary float-right">Update car</button>
        <button (click)="carForm.reset()" type="submit" class="btn btn-default float-right">Reset</button>
      </div>
    </div>
  </form>

</div>
