<cs-main-content>
<cs-header>
  <div content>
    <p>List of cars in service</p>
  </div>
</cs-header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div *ngIf="cars && cars.length > 0" class="paging__container" [ngClass]="{'paging-container--float-right': totalPages === 1}">
            <nav aria-label="..." *ngIf="totalPages > 1">
              <ul class="pagination">
                <li class="page-item page-btn page-btn_margin-right" [ngClass]="{'disabled': currentPage === 1}">
                  <a class="page-link" tabindex="-1" *ngIf="currentPage > 1" (click)="loadCarsList(currentPage - 1, pageSize, sortBy)">Previous</a>
                  <a class="page-link" tabindex="-1" *ngIf="currentPage === 1">Previous</a>
                </li>

                <div class="page-buttons" *ngIf="currentPage === 1">
                  <li class="page-item page-btn active">
                    <a class="page-link">
                      {{currentPage}}
                    </a>
                  </li>
                  <li class="page-item page-btn" (click)="loadCarsList(currentPage + 1, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage + 1}}
                    </a>
                  </li>
                  <li class="page-item page-btn" *ngIf="totalPages >= 3" (click)="loadCarsList(currentPage + 2, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage + 2}}
                    </a>
                  </li>
                </div>

                <div class="page-buttons" *ngIf="currentPage > 1 && currentPage < lastPage">
                  <li class="page-item page-btn page-btn_margin-left" (click)="loadCarsList(currentPage - 1, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage - 1}}
                    </a>
                  </li>
                  <li class="page-item page-btn active">
                    <a class="page-link">
                      {{currentPage}}
                    </a>
                  </li>
                  <li class="page-item page-btn" *ngIf="totalPages >= 3" (click)="loadCarsList(currentPage + 1, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage + 1}}
                    </a>
                  </li>
                </div>

                <div class="page-buttons" *ngIf="currentPage === lastPage">
                  <li class="page-item page-btn" *ngIf="totalPages >= 3" (click)="loadCarsList(currentPage - 2, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage - 2}}
                    </a>
                  </li>
                  <li class="page-item page-btn" (click)="loadCarsList(currentPage - 1, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage - 1}}
                    </a>
                  </li>
                  <li class="page-item page-btn active">
                    <a class="page-link">
                      {{currentPage}}
                    </a>
                  </li>
                </div>

                <li class="page-item page-btn" [ngClass]="{'disabled': currentPage === lastPage}">
                  <a class="page-link" tabindex="-1" *ngIf="currentPage < lastPage" (click)="loadCarsList(currentPage + 1, pageSize, sortBy)">Next</a>
                  <a class="page-link" tabindex="-1" *ngIf="currentPage === lastPage">Next</a>
                </li>
              </ul>
            </nav>
            <div class="col-sm-2 paging__select-elements-on-page--width" [ngClass]="{'paging__select-elements-on-page--margin': totalPages === 1}">
              <select class="form-control paging__select-elements-on-page"
                      (change)="changeCarsListSize()"
                      [(ngModel)]="pageSize">
                <option [ngValue]="5">5 - elements on page</option>
                <option [ngValue]="10">10 - elements on page</option>
                <option [ngValue]="15">15 - elements on page</option>
              </select>
            </div>
          </div>
            <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
                <thead>
                    <tr>
                        <th>
                          Mark <img src="../../../../../assets/icons/arrow-down.svg">
                        </th>
                        <th>Model</th>
                        <th>Production year</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; let i = index" (click)="goToCarDetails(car)" class="row-car">
                        <td>{{car.mark}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.productionYear}}</td>
                        <td csImportant>{{car.price | currency:'PLN':true}}</td>
                        <td>
                          <button (click)="removeCar(car, $event)" type="button" class="btn btn-danger">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
          <div *ngIf="cars && cars.length > 0" class="paging__container" [ngClass]="{'paging-container--float-right': totalPages === 1}">
            <nav aria-label="..." *ngIf="totalPages > 1">
              <ul class="pagination">
                <li class="page-item page-btn" [ngClass]="{'disabled': currentPage === 1}">
                  <a class="page-link" tabindex="-1" *ngIf="currentPage > 1" (click)="loadCarsList(currentPage - 1, pageSize, sortBy)">Previous</a>
                  <a class="page-link" tabindex="-1" *ngIf="currentPage === 1">Previous</a>
                </li>

                <div class="page-buttons" *ngIf="currentPage === 1">
                  <li class="page-item page-btn active">
                    <a class="page-link">
                      {{currentPage}}
                    </a>
                  </li>
                  <li class="page-item page-btn" (click)="loadCarsList(currentPage + 1, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage + 1}}
                    </a>
                  </li>
                  <li class="page-item page-btn" *ngIf="totalPages >= 3" (click)="loadCarsList(currentPage + 2, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage + 2}}
                    </a>
                  </li>
                </div>

                <div class="page-buttons" *ngIf="currentPage > 1 && currentPage < lastPage">
                  <li class="page-item page-btn" (click)="loadCarsList(currentPage - 1, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage - 1}}
                    </a>
                  </li>
                  <li class="page-item page-btn active">
                    <a class="page-link">
                      {{currentPage}}
                    </a>
                  </li>
                  <li class="page-item page-btn" *ngIf="totalPages >= 3" (click)="loadCarsList(currentPage + 1, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage + 1}}
                    </a>
                  </li>
                </div>

                <div class="page-buttons" *ngIf="currentPage === lastPage">
                  <li class="page-item page-btn" *ngIf="totalPages >= 3" (click)="loadCarsList(currentPage - 2, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage - 2}}
                    </a>
                  </li>
                  <li class="page-item page-btn" (click)="loadCarsList(currentPage - 1, pageSize, sortBy)">
                    <a class="page-link">
                      {{currentPage - 1}}
                    </a>
                  </li>
                  <li class="page-item page-btn active">
                    <a class="page-link">
                      {{currentPage}}
                    </a>
                  </li>
                </div>

                <li class="page-item page-btn" [ngClass]="{'disabled': currentPage === lastPage}">
                  <a class="page-link" tabindex="-1" *ngIf="currentPage < lastPage" (click)="loadCarsList(currentPage + 1, pageSize, sortBy)">Next</a>
                  <a class="page-link" tabindex="-1" *ngIf="currentPage === lastPage">Next</a>
                </li>
              </ul>
            </nav>
            <div class="col-sm-2 paging__select-elements-on-page--width" [ngClass]="{'paging__select-elements-on-page--margin': totalPages === 1}">
              <select class="form-control paging__select-elements-on-page"
                      (change)="changeCarsListSize()"
                      [(ngModel)]="pageSize">
                <option [ngValue]="5">5 - elements on page</option>
                <option [ngValue]="10">10 - elements on page</option>
                <option [ngValue]="15">15 - elements on page</option>
              </select>
            </div>
          </div>
            <ng-template #noCarsInfo>
                <div class="no-cars-info">
                    <p>Currently no cars in service</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
</cs-main-content>
