<div class="header">
  <div class="header__content">
    <ng-content select="[content]"></ng-content>
  </div>

  <div class="header__btn--margin" *ngIf="!isUserLoggedIn">
    <a routerLink="/signup"><button type="button" class="btn btn-outline-success">Create account</button></a>
    <a routerLink="/login"><button type="button" class="btn btn-outline-success">Login</button></a>
  </div>
  <div class="header__btn--margin" *ngIf="isUserLoggedIn">
    <a><button type="button" class="btn btn-outline-success" (click)="logOut()">Logout</button></a>
  </div>
</div>
