<cs-header>
  <p levels>cars</p>

  <div content>
    <p>List of cars in service</p>
  </div>
</cs-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
                <thead>
                    <tr>
                        <th>Mark</th>
                        <th>Model</th>
                        <th>Production year</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; let i = index" (click)="goToCarDetails(car)" class="row-car">
                        <td>{{car.mark}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.productionYear | date:'shortDate'}}</td>
                        <td csImportant>{{car.price | currency:'PLN':true}}</td>
                        <td>
                          <button (click)="removeCar(car, $event)" type="button" class="btn btn-danger">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noCarsInfo>
                <div class="no-cars-info">
                    <p>Currently no cars in service</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
