<cs-header>
  <p levels>cars</p>

  <div content>
    <p>List of cars in service</p>
  </div>
</cs-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
                <thead>
                    <tr>
                        <th>car</th>
                        <th>plate</th>
                        <th>delivery date</th>
                        <th>dealine</th>
                        <th>client</th>
                        <th>cost</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; let i = index" (click)="goToCarDetails(car)" class="row-car">
                        <td csImportant [ngClass]="{'row-error': car.isFullyDamaged}">{{car.model}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.deliveryDate | date:'shortDate'}}</td>
                        <td>{{car.deadline | date:'shortDate'}}</td>
                        <td>{{car.clientFirstName}} {{car.clientSurname | surnameShortcut}}</td>
                        <td csImportant>{{car.cost | currency:'PLN':true}}</td>
                        <td>
                          <button (click)="removeCar(car, $event)" type="button" class="btn btn-danger">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noCarsInfo>
                <div class="no-cars-info">
                    <p>Currently no cars in service</p>
                </div>
            </ng-template>
        </div>
    </div>

  <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></cs-total-cost>

  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">TOTAL GROSS COST: {{grossCost}} PLN </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button (click)="showGross()" class="btn btn-primary btn-sm float-right">
        SHOW GROSS
      </button>
    </div>
  </div>

</div>
