<div *ngIf="!isUpdateForm">
  <cs-header>
    <p levels>add new car</p>

    <div content>
      <p>Car details</p>
    </div>
  </cs-header>

  <p class="data-header">Add a new car</p>
</div>


<div class="data-container">
  <form [formGroup]="carForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Mark</label>
        <input formControlName="mark" type="text" class="form-control" placeholder="Mark">
        <p *ngIf="!carForm.get('mark')?.valid && carForm.get('mark')?.dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label>Model</label>
        <input formControlName="model" type="text" class="form-control" placeholder="Model">
        <p *ngIf="!carForm.get('model')?.valid && carForm.get('model')?.dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label>Body type</label>
        <select class="form-control" formControlName="bodyType">
          <option disable disabled value="">Body type</option>
          <option *ngFor="let bodyType of bodyTypes | keyvalue" [value]="bodyType.key">
            {{bodyType.value}}
          </option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Course</label>
        <input formControlName="course" type="text" class="form-control" placeholder="Course">
        <p *ngIf="!carForm.get('course')?.valid && carForm.get('course')?.dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label>Production year</label>
        <select class="form-control" type="text" formControlName="productionYear">
          <option selected disabled value="">Production year</option>
          <option *ngFor="let productionYear of productionYears" [value]="productionYear">
            {{productionYear}}
          </option>
        </select>
      </div>
      <div class="col-sm-4">
        <label>Number Of seats</label>
        <select class="form-control" type="text" formControlName="numberOfSeats">
          <option selected disabled value="">Number of seats</option>
          <option *ngFor="let numberOfSeats of numberOfSeatsArray" [value]="numberOfSeats">
            {{numberOfSeats}}
          </option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Engine capacity</label>
        <input formControlName="engineCapacity" type="text" class="form-control" placeholder="Engine capacity">
        <p *ngIf="!carForm.get('engineCapacity')?.valid && carForm.get('engineCapacity')?.dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label>Engine power</label>
        <input formControlName="enginePower" type="text" class="form-control" placeholder="Engine power">
        <p *ngIf="!carForm.get('enginePower')?.valid && carForm.get('enginePower')?.dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label>Engine type</label>
        <select class="form-control" type="text" formControlName="engineType">
          <option selected disabled value="">Engine type</option>
          <option *ngFor="let engineType of engineTypes | keyvalue" [value]="engineType.key">
            {{engineType.value}}
          </option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Vehicle condition</label>
        <select class="form-control" type="text" formControlName="vehicleCondition">
          <option selected disabled value="">Vehicle condition</option>
          <option *ngFor="let condition of condition | keyvalue" [value]="condition.key">
            {{condition.value}}
          </option>
        </select>
      </div>
      <div class="col-sm-4">
        <label>Price</label>
        <input formControlName="price" type="text" class="form-control" placeholder="Price">
        <p *ngIf="!carForm.get('price')?.valid && carForm.get('price')?.dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label>Is damaged</label>
        <select class="form-control" type="text" formControlName="damaged">
          <option selected disabled value="">Is damaged</option>
          <option *ngFor="let state of damaged | keyvalue" [value]="state.key">
            {{state.value}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button *ngIf="!isUpdateForm" [disabled]="carForm.invalid" (click)="addCar()" type="submit" class="btn btn-primary float-right">Add car</button>
        <button *ngIf="isUpdateForm" [disabled]="carForm.invalid" (click)="updateCar()" type="submit" class="btn btn-primary float-right">Update car</button>
        <button (click)="carForm.reset()" type="submit" class="btn btn-default float-right">Reset</button>
      </div>
    </div>
  </form>

</div>
